lead-processing-enrichment-workflow/Lead Processing Workflow.json
{
  "name": "Lead Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Contact Us",
        "formDescription": "Please fill out the below details correctly and we will get back to you soon!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Your Name goes Here!",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Your Email Goes Here!",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Name",
              "placeholder": "Company Name Goes Here!",
              "requiredField": true
            },
            {
              "fieldLabel": "Website",
              "placeholder": "Your Website Address Here!"
            },
            {
              "fieldLabel": "Job Title",
              "placeholder": "Your Job Title Goes Here!"
            },
            {
              "fieldLabel": "Interest Area",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Sales"
                  },
                  {
                    "option": "Support"
                  },
                  {
                    "option": "Partnerships"
                  },
                  {
                    "option": "Other"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Your response has been recorded. We will get back to you soon !"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "12c4f324-8daf-4109-aa14-ebb84aae727b",
      "name": "On New Lead Received",
      "webhookId": "e325d0b1-3554-4c9b-9950-dd992a4f779f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "795c661f-498d-4208-ab70-377d13490f3d",
              "leftValue": "={{ $json.Email.isEmail() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "ebb51f1a-3c4f-4414-a44f-a06e7e9209ed",
              "leftValue": "={{ $json.Email.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "e7695a3a-2706-48b5-853e-b00ab8675b04",
              "leftValue": "={{[\"fakemail.com\", \"testmail.com\", \"runmail.com\", \"ymail.com\"] }}",
              "rightValue": "={{ $json.Email.extractDomain() }}",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "e562f708-b6d8-4aaa-a9f3-15e30c92689d",
      "name": "Basic Email Validation"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w",
          "mode": "list",
          "cachedResultName": "Capstone Project 1-Lead Enrichment Workflow Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "all-leads-log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$now.format('DD T')}}",
            "Full Name": "={{ $('On New Lead Received').item.json.Name }}",
            "Email": "={{ $('On New Lead Received').item.json.Email }}",
            "Company": "={{ $('On New Lead Received').item.json['Company Name'] }}",
            "Status": "Discarded",
            "Reason": "Basic Email validation failed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        96
      ],
      "id": "4c42dd0e-3810-4531-a515-9b87fb047069",
      "name": "Log Discarded Lead- Basic Email validation failed",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wedA9j7ys2NoIiBv",
          "name": "Google Sheets OAuth API_new"
        }
      }
    },
    {
      "parameters": {
        "content": "Will use [Hunter.io](https://www.hunter.io) to further validate the email after basic validation is succeeded.",
        "height": 80,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -112
      ],
      "typeVersion": 1,
      "id": "73fc01a8-39ab-4671-a711-cfb465eb9f86",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "emailVerifier",
        "email": "={{ $json.Email }}"
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        432,
        -80
      ],
      "id": "7eba60e3-ec96-4354-8b7e-88f7df34d626",
      "name": "Verify Email with Hunter",
      "notesInFlow": true,
      "credentials": {
        "hunterApi": {
          "id": "sEiGB7nNG63fI567",
          "name": "Hunter account"
        }
      },
      "notes": "Ensure High deliverability"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "5f304866-99a2-4124-a063-e47628aa6db3",
              "leftValue": "={{ $json.status }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "4530d422-e2da-48c9-b1ff-0e405308517d",
              "leftValue": "={{ $json.score }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        -80
      ],
      "id": "c2499487-56d6-4392-9dcd-fc1880107ddf",
      "name": "3rd Party Email Validation"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w",
          "mode": "list",
          "cachedResultName": "Capstone Project 1-Lead Enrichment Workflow Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "all-leads-log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$now.format('DD T')}}",
            "Full Name": "={{ $('On New Lead Received').item.json.Name }}",
            "Email": "={{ $('On New Lead Received').item.json.Email }}",
            "Company": "={{ $('On New Lead Received').item.json['Company Name'] }}",
            "Status": "Discarded",
            "Reason": "3rd party Email validation failed due to invalid status of email and/or low email availability score"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        16
      ],
      "id": "e91eac9d-0594-4d05-a9cf-5ae9459b6324",
      "name": "Log Discarded Lead- 3rd party Email validation failed",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wedA9j7ys2NoIiBv",
          "name": "Google Sheets OAuth API_new"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/combined/find",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('On New Lead Received').item.json.Email }}"
            },
            {
              "name": "api_key",
              "value": "33085116dfb8a5c206c002242ddbafca06358344"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        -208
      ],
      "id": "56898d15-64d3-4c64-bfc5-2e78fa5127ca",
      "name": "Enrich Lead Information Through Hunter",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCcwSPJFKiCbGAU",
          "mode": "list",
          "cachedResultName": "Customer Enrichment Data",
          "cachedResultUrl": "https://airtable.com/appCcwSPJFKiCbGAU"
        },
        "table": {
          "__rl": true,
          "value": "tblbkEQOKJfywoyn6",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://airtable.com/appCcwSPJFKiCbGAU/tblbkEQOKJfywoyn6"
        },
        "filterByFormula": "={Email} = '{{ $json.data.person.email }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1520,
        -224
      ],
      "id": "66af3f80-1031-4558-b8f4-e48382e28f7a",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "QZmOAJu1KryELmIV",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "data.person.email",
              "field2": "email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1248,
        -112
      ],
      "id": "27984211-6be0-466d-8223-594196487341",
      "name": "Enriched-Unified-Profile"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "Email",
              "field2": "data.person.email"
            }
          ]
        },
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1744,
        -96
      ],
      "id": "519c119a-8a89-4a5c-addf-e734de952de9",
      "name": "CRM-Combined-Enriched-Profile"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "152eb65d-b46b-4499-93b3-4619fbafa8f0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Customer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3d2895a7-3d23-4782-912f-9647181e9bb2",
                    "leftValue": "={{ $json.Total_Revenue }}",
                    "rightValue": 100000,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Existing General"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "015e8931-fc3c-4b68-912e-427a2410819a",
                    "leftValue": "={{ $json.Total_Revenue }}",
                    "rightValue": 100000,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Existing VIP"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1920,
        -112
      ],
      "id": "90f174d5-2164-4f68-b886-fb8160c82a15",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b013d08-9222-44c7-9e95-d52ba0b19130",
              "name": "customer_type_tag",
              "value": "New Customer",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        -320
      ],
      "id": "90c7cc9b-7179-4c9d-9a4e-bfcd6331aa28",
      "name": "Tag-New Customer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b013d08-9222-44c7-9e95-d52ba0b19130",
              "name": "customer_type_tag",
              "value": "Existing General",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        -96
      ],
      "id": "31372866-8a3f-4e8f-ac5b-425479cd1d8a",
      "name": "Tag-Existing General"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b013d08-9222-44c7-9e95-d52ba0b19130",
              "name": "customer_type_tag",
              "value": "Existing VIP",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2336,
        112
      ],
      "id": "20ba72f1-68a1-4eb9-bb37-61b6a9a8c734",
      "name": "Tag-Existing VIP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38a0ab86-f3f9-43c5-858c-b33a25655c28",
              "name": "lead_score",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        -96
      ],
      "id": "443c0207-f484-44d2-9d0a-9d7ac6645f32",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "62cb19ce-c012-4cac-a80c-35944fc8a4ae",
              "leftValue": "={{ $json.score }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2928,
        -96
      ],
      "id": "bfe124c6-15dc-409e-a30f-06d87e440446",
      "name": "Check Email Confidence"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c9f92f0-ab5b-4600-8d0d-6d47e3fe217f",
              "name": "lead_score",
              "value": "={{ $json.lead_score + 1}}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        -256
      ],
      "id": "b1893ffc-954d-4d3c-b526-badac02913e6",
      "name": "Increment Lead Score"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c9f92f0-ab5b-4600-8d0d-6d47e3fe217f",
              "name": "lead_score",
              "value": "={{ $('Edit Fields').item.json.lead_score + 1 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3472,
        -272
      ],
      "id": "4a742420-33dd-43aa-a533-ea3d2a842818",
      "name": "Increment Lead Score1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c9f92f0-ab5b-4600-8d0d-6d47e3fe217f",
              "name": "lead_score",
              "value": "={{ $json.lead_score + 1}}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3872,
        -256
      ],
      "id": "cfbc3767-84c2-4cec-a0c2-4c90a92abdc9",
      "name": "Increment Lead Score2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c6aa68a2-4d9b-4e0d-9f25-e89dae3e1f3e",
              "leftValue": "={{[\"US\", \"DE\", \"IN\", \"UK\"]}}",
              "rightValue": "={{ $('Edit Fields').item.json.data.person.geo.countryCode }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3280,
        -80
      ],
      "id": "175121a5-911f-4299-94bc-e020b0a92c51",
      "name": "Check Region"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "36650675-41bc-408d-8db0-9df2c69d27c5",
              "leftValue": "={{ [\"software\", \"software & services\", \"software and services\"] }}",
              "rightValue": "={{ $('Edit Fields').item.json.data.company.category.industryGroup }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            },
            {
              "id": "0b7c343d-261c-4632-8d0b-4478dbd5f6f9",
              "leftValue": "={{ $('Edit Fields').item.json.data.company.tags }}",
              "rightValue": "software",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3680,
        -64
      ],
      "id": "fee634fa-39c5-4c8c-b376-a06a4edf8908",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lead_type }}",
                    "rightValue": "High-Value",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4d5df3ca-0d09-4867-93c0-163b6a64650d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High Value Lead"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c1b60bc1-66c2-4f32-bf2c-a38ac624553a",
                    "leftValue": "={{ $json.lead_type }}",
                    "rightValue": "Medium-Value",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medium Value Lead"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "eef08823-7e86-4567-a314-6b00807302ca",
                    "leftValue": "={{ $json.lead_type }}",
                    "rightValue": "Low-Value",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low Value Lead"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4272,
        -48
      ],
      "id": "015b3f78-6040-45d6-be49-2e77717c5a11",
      "name": "Route Based on Lead Score"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.lead_type = \"Medium-Value\";\n  if(item.json.lead_score == 3)\n    item.json.lead_type = \"High-Value\";\n  if(item.json.lead_score < 1)\n    item.json.lead_type = \"Low-Value\"\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4064,
        -48
      ],
      "id": "6d65db9b-2699-4cae-ac22-a8f639718754",
      "name": "Assign Lead Type"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0AESV9KJ6T",
          "mode": "list",
          "cachedResultName": "divyanshsharma9911"
        },
        "text": "Hey ! New high value lead has arrived. Please check out the details in the PDF uploaded on google drive",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        5168,
        -288
      ],
      "id": "df09af92-da25-4653-a39e-cdcd5ed972e9",
      "name": "Alert Account Executive",
      "webhookId": "af7775ff-6ee5-4e71-8075-edc59a1595f5",
      "credentials": {
        "slackApi": {
          "id": "cQq8KxtB0Qp5Rqy1",
          "name": "Slack account - TokenBased"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w",
          "mode": "list",
          "cachedResultName": "Capstone Project 1-Lead Enrichment Workflow Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "all-leads-log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('DD T') }}",
            "Full Name": "={{ $('On New Lead Received').item.json.Name }}",
            "Email": "={{ $('On New Lead Received').item.json.Email }}",
            "Company": "={{ $('On New Lead Received').item.json['Company Name'] }}",
            "Lead Value": "={{ $json['Lead Value'] }}",
            "Status": "To be nurtured",
            "Reason": "={{ $json['Reason for Nurture'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4832,
        208
      ],
      "id": "4a5c7e62-ca54-4567-a1df-41b3849b083d",
      "name": "All leads logged",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wedA9j7ys2NoIiBv",
          "name": "Google Sheets OAuth API_new"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w",
          "mode": "list",
          "cachedResultName": "Capstone Project 1-Lead Enrichment Workflow Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 744631715,
          "mode": "list",
          "cachedResultName": "leads-tobe-nurtured",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w/edit#gid=744631715"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Company": "={{ $json.data.company.name }}",
            "Lead Value": "={{ $json.lead_type }}",
            "Reason for Nurture": "Need more research and details"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason for Nurture",
              "displayName": "Reason for Nurture",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4624,
        208
      ],
      "id": "556c693b-e0ce-44e1-a881-55b67cd31115",
      "name": "Leads to be Nurtured",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wedA9j7ys2NoIiBv",
          "name": "Google Sheets OAuth API_new"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "divyanshsharma9911@gmail.com",
          "mode": "list",
          "cachedResultName": "divyanshsharma9911@gmail.com"
        },
        "start": "={{ $now.plus(5, 'days').plus(1, 'hour').format('DD T')}}",
        "end": "={{ $now.plus(5, 'days').plus(2, 'hour').format('DD T')}}",
        "additionalFields": {
          "attendees": [
            "={{ $('Assign Lead Type').item.json.Email }}"
          ],
          "description": "Customer Meeting Scheduled"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        5328,
        -288
      ],
      "id": "e1505f5b-e8c8-4351-b778-eca407d8e63b",
      "name": "Set Up Customer Meeting",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BCUfytpg2YIVitv4",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5744,
        -288
      ],
      "id": "2e8a5db7-6157-4718-abbb-c83772cf6f89",
      "name": "5 Days buffer to follow up",
      "webhookId": "3404c092-ed0a-49db-8348-d226c0fdc212"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Route Based on Lead Score').item.json.Email }}",
        "subject": "Welcome to The Vantage Workspace !",
        "message": "=Hey !  {{ $('Route Based on Lead Score').item.json.Name }}, just reaching out to welcome you to our newsletter.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5952,
        -288
      ],
      "id": "ca16eed0-647c-40f3-999d-ac90d3f6980a",
      "name": "Follow Up to the Customer",
      "webhookId": "2f47affc-cc1f-444f-b05f-5146d943b2f1",
      "credentials": {
        "gmailOAuth2": {
          "id": "WUpVZaL8eueGA5JC",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Route Based on Lead Score').item.json.Email }}",
        "subject": "Welcome to The Vantage Workspace !",
        "message": "=Hey !  {{ $('Route Based on Lead Score').item.json.Name }}, just reaching out to welcome you to our newsletter.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5536,
        -288
      ],
      "id": "eb17e77b-c974-4da8-a7e4-9cc37f692599",
      "name": "Welcome Email to Customer",
      "webhookId": "2f47affc-cc1f-444f-b05f-5146d943b2f1",
      "credentials": {
        "gmailOAuth2": {
          "id": "WUpVZaL8eueGA5JC",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w",
          "mode": "list",
          "cachedResultName": "Capstone Project 1-Lead Enrichment Workflow Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "all-leads-log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('DD T') }}",
            "Full Name": "={{ $('On New Lead Received').item.json.Name }}",
            "Email": "={{ $('On New Lead Received').item.json.Email }}",
            "Company": "={{ $('On New Lead Received').item.json['Company Name'] }}",
            "Lead Value": "={{ $json['Lead Value'] }}",
            "Reason": "={{ $json['Reason for Nurture'] }}",
            "Status": "Approved"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6144,
        -288
      ],
      "id": "e754e82e-14b1-4638-bf85-be8bcd654eb2",
      "name": "All leads logged2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wedA9j7ys2NoIiBv",
          "name": "Google Sheets OAuth API_new"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0AESV9KJ6T",
          "mode": "list",
          "cachedResultName": "divyanshsharma9911"
        },
        "text": "Hey, a new lead has arrived, please enrich the information and create the PDF document to upload to google drive.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        4592,
        -512
      ],
      "id": "8cb467d4-fc28-4b1a-b3d0-36074a91e022",
      "name": "Notify to Content Coordinator",
      "webhookId": "2872b379-06ec-403e-8984-1a0a2dec8975",
      "credentials": {
        "slackApi": {
          "id": "cQq8KxtB0Qp5Rqy1",
          "name": "Slack account - TokenBased"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "[company_name]",
              "replaceText": "={{ $('Assign Lead Type').item.json.data.company.name }}"
            },
            {
              "action": "replaceAll",
              "text": "[full_name]",
              "replaceText": "={{ $('Assign Lead Type').item.json.Name }}"
            },
            {
              "action": "replaceAll",
              "text": "[email]",
              "replaceText": "={{ $('Assign Lead Type').item.json.Email }}"
            },
            {
              "action": "replaceAll",
              "text": "[job_title]",
              "replaceText": "={{ $('On New Lead Received').item.json['Job Title'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[customer_type]",
              "replaceText": "={{ $('Assign Lead Type').item.json.lead_type }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_website]",
              "replaceText": "={{ $('On New Lead Received').item.json.Website }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_domain]",
              "replaceText": "={{ $('Enrich Lead Information Through Hunter').item.json.data.company.domain }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_industry]",
              "replaceText": "={{ $('Enrich Lead Information Through Hunter').item.json.data.company.category.industry }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_sub_industry]",
              "replaceText": "={{ $('Enrich Lead Information Through Hunter').item.json.data.company.category.subIndustry }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_region]",
              "replaceText": "={{ $('Enriched-Unified-Profile').item.json.data.company.location }}"
            },
            {
              "action": "replaceAll",
              "text": "[employee_count]",
              "replaceText": "={{ $('Enriched-Unified-Profile').item.json.data.company.metrics.employees }}"
            },
            {
              "action": "replaceAll",
              "text": "[country]",
              "replaceText": "={{ $('Enriched-Unified-Profile').item.json.data.company.geo.country }}"
            },
            {
              "action": "replaceAll",
              "text": "[email_confidence_score]",
              "replaceText": "={{ $('Verify Email with Hunter').item.json.score.toString() }}"
            },
            {
              "action": "replaceAll",
              "text": "[crm_status](Yes/No)",
              "replaceText": "={{ $('Search records').item.json.id  ? \"Yes\" : \"No\"}}"
            },
            {
              "action": "replaceAll",
              "text": "[vip_tag](VIP / Existing / New)",
              "replaceText": "={{ $('Edit Fields').item.json.customer_type_tag }}"
            },
            {
              "action": "replaceAll",
              "text": "[analyst_notes]",
              "replaceText": "={{ $('Edit Fields').item.json['Last Feedback'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[generated_date]",
              "replaceText": "={{ $now.format('DD T')}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        5008,
        -512
      ],
      "id": "78fceeb4-2040-4d85-bf30-973bcf90141b",
      "name": "Replace Dynamic Data",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "BozoIV5RFrGj3s31",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1Udctt1e6A_VbnY6ljHUVMd5CkWeW8bOBK_CH8Tw5y8g",
          "mode": "list",
          "cachedResultName": "[company_name]-[full_name]-[customer_type]-template",
          "cachedResultUrl": "https://docs.google.com/document/d/1Udctt1e6A_VbnY6ljHUVMd5CkWeW8bOBK_CH8Tw5y8g/edit?usp=drivesdk"
        },
        "name": "={{ $('Assign Lead Type').item.json.data.company.name }}-{{ $('Assign Lead Type').item.json.Name }}-{{ $('Assign Lead Type').item.json.lead_type }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4800,
        -512
      ],
      "id": "6cdfe86f-e288-45f6-b006-eed61fe941d2",
      "name": "Copy Base Template",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GLFVFo0UcH1GphOt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5216,
        -512
      ],
      "id": "822f9e1c-df05-42ef-b69c-785e835e44ba",
      "name": "Download as PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GLFVFo0UcH1GphOt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Copy Base Template').item.json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1n1le5Mu4839m7k3ZB221ZoEikvbt6LRw",
          "mode": "list",
          "cachedResultName": "Capstone Project n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1n1le5Mu4839m7k3ZB221ZoEikvbt6LRw"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5424,
        -512
      ],
      "id": "4defc317-63ce-42c8-a742-bebc58910db5",
      "name": "Upload as PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GLFVFo0UcH1GphOt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Replace Dynamic Data').item.json.documentId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5632,
        -512
      ],
      "id": "cfabd291-ba17-409e-8da7-3905fe83b7cc",
      "name": "Delete Doc Template",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GLFVFo0UcH1GphOt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0AESV9KJ6T",
          "mode": "list",
          "cachedResultName": "divyanshsharma9911"
        },
        "text": "=A new profile has been uploaded for your review and further processing in the google drive folder.\nProfile Name: {{ $('Upload as PDF').item.json.name }} ",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        5840,
        -512
      ],
      "id": "2c506cfc-03a4-47a2-a54b-c0bab5ed4f9e",
      "name": "Update to content coordinator",
      "webhookId": "388ea01f-dc24-43de-b0a9-f0a4442f00f6",
      "credentials": {
        "slackApi": {
          "id": "cQq8KxtB0Qp5Rqy1",
          "name": "Slack account - TokenBased"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4576,
        -48
      ],
      "id": "732268a8-b70a-42f3-b7e7-29d920a3b7aa",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5fdd77e1-f144-423a-9e11-c29297b10ef2",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5024,
        -48
      ],
      "id": "a73d4d4c-8a5b-40ca-9796-1a60b31b30c4",
      "name": "Sales Manager Approved?"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "user": {
          "__rl": true,
          "value": "U0AESV9KJ6T",
          "mode": "list",
          "cachedResultName": "divyanshsharma9911"
        },
        "message": "=Hey! Kindly review the google document (or PDF) uploaded in the google drive, and provide your approval for further actions.\nView Doc Here : {{ $json.webViewLink }}\nThank You!",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "disapproveLabel": "Disapprove"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        4816,
        -48
      ],
      "id": "cccdee73-5a6e-4156-a60c-ed93c44ece45",
      "name": "Send for Sales Manager Approval",
      "webhookId": "b8f6620f-aad5-4004-8318-9bbf287a4a9c",
      "credentials": {
        "slackApi": {
          "id": "cQq8KxtB0Qp5Rqy1",
          "name": "Slack account - TokenBased"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w",
          "mode": "list",
          "cachedResultName": "Capstone Project 1-Lead Enrichment Workflow Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "all-leads-log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vCbDz7atfSyTUXSaV2SOBitHRR5A_3pqrLt5wiyDp8w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('DD T') }}",
            "Full Name": "={{ $('On New Lead Received').item.json.Name }}",
            "Email": "={{ $('On New Lead Received').item.json.Email }}",
            "Company": "={{ $('On New Lead Received').item.json['Company Name'] }}",
            "Lead Value": "={{ $json['Lead Value'] }}",
            "Reason": "=Sales Manager did not deem the lead fit for further processing and actions",
            "Status": "Disapproved"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5248,
        -16
      ],
      "id": "fb4dcc5d-4562-4835-8476-76e878519afd",
      "name": "All leads logged1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wedA9j7ys2NoIiBv",
          "name": "Google Sheets OAuth API_new"
        }
      }
    }
  ],
  "pinData": {
    "On New Lead Received": [
      {
        "json": {
          "Name": "Victoria Benett",
          "Email": "contact@hunter.io",
          "Company Name": "Hunter",
          "Website": "",
          "Job Title": "",
          "Interest Area": "Support",
          "submittedAt": "2026-02-24T17:59:42.357+05:30",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On New Lead Received": {
      "main": [
        [
          {
            "node": "Basic Email Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic Email Validation": {
      "main": [
        [
          {
            "node": "Verify Email with Hunter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Discarded Lead- Basic Email validation failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Email with Hunter": {
      "main": [
        [
          {
            "node": "3rd Party Email Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3rd Party Email Validation": {
      "main": [
        [
          {
            "node": "Enrich Lead Information Through Hunter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enriched-Unified-Profile",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Log Discarded Lead- 3rd party Email validation failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Lead Information Through Hunter": {
      "main": [
        [
          {
            "node": "Enriched-Unified-Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Discarded Lead- 3rd party Email validation failed": {
      "main": [
        []
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "CRM-Combined-Enriched-Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enriched-Unified-Profile": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          },
          {
            "node": "CRM-Combined-Enriched-Profile",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CRM-Combined-Enriched-Profile": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Tag-New Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tag-Existing General",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tag-Existing VIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag-New Customer": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag-Existing General": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag-Existing VIP": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Check Email Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Confidence": {
      "main": [
        [
          {
            "node": "Increment Lead Score",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Region",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Region": {
      "main": [
        [
          {
            "node": "Increment Lead Score1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Lead Score": {
      "main": [
        [
          {
            "node": "Check Region",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Increment Lead Score2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assign Lead Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Lead Score1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Lead Score2": {
      "main": [
        [
          {
            "node": "Assign Lead Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Lead Type": {
      "main": [
        [
          {
            "node": "Route Based on Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Based on Lead Score": {
      "main": [
        [
          {
            "node": "Alert Account Executive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify to Content Coordinator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify to Content Coordinator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Leads to be Nurtured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leads to be Nurtured": {
      "main": [
        [
          {
            "node": "All leads logged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Account Executive": {
      "main": [
        [
          {
            "node": "Set Up Customer Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Up Customer Meeting": {
      "main": [
        [
          {
            "node": "Welcome Email to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Days buffer to follow up": {
      "main": [
        [
          {
            "node": "Follow Up to the Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Email to Customer": {
      "main": [
        []
      ]
    },
    "Follow Up to the Customer": {
      "main": [
        [
          {
            "node": "All leads logged2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify to Content Coordinator": {
      "main": [
        [
          {
            "node": "Copy Base Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Base Template": {
      "main": [
        [
          {
            "node": "Replace Dynamic Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Dynamic Data": {
      "main": [
        [
          {
            "node": "Download as PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download as PDF": {
      "main": [
        [
          {
            "node": "Upload as PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload as PDF": {
      "main": [
        [
          {
            "node": "Delete Doc Template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Doc Template": {
      "main": [
        [
          {
            "node": "Update to content coordinator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send for Sales Manager Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Manager Approved?": {
      "main": [
        [
          {
            "node": "Alert Account Executive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All leads logged1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send for Sales Manager Approval": {
      "main": [
        [
          {
            "node": "Sales Manager Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7d0bb34d-17a5-432f-af11-7ad154da7bb2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d640a168e4eaa794c238a77ced9befad786e55463bce85b9af9afb50d41a9dc7"
  },
  "id": "Z2Pr4k75F6Rn5wrm",
  "tags": []
}